In [75]:
import pandas as pd
df = pd.read_csv('C:/Users/CHK/Desktop/Final_Project/price_prediction/model6/processed_ko_4.csv')

# 1. 데이터 전처리

##### 1) 무의미한 컬럼 drop

In [76]:
df.drop(['Unnamed: 0', 'SEQ'], axis=1, inplace=True)

##### 2) 컬럼 순서 정렬

In [77]:
new_order = ['LMNAME', 'MNAME'] + [col for col in df.columns if col not in ['LMNAME', 'MNAME']]
df = df[new_order]
df.head()

,LMNAME,MNAME,PRICE,MYERAR,MILEAGE,COLOR,TRANS,F_TYPE,DISP,VTYPE,VNUM,CU_HIS,MVD_HIS,AVD_HIS,TL_HIS,FD_HIS,VT_HIS,US_HIS
0,기아 봉고3 윙바디 탑차,기아 봉고,173.0,2018,80800.0,흰색,자동,디젤,2497.0,트럭,92너0923,NaN,1.0,5.0,0.0,0.0,0.0,4.0
1,기아 더 K9 3.3 AWD,기아 K9,522.0,2022,52600.0,검정색,자동,가솔린,3342.0,대형,183너2180,NaN,0.0,0.0,0.0,0.0,0.0,1.0
2,현대 더 뉴 제네시스 쿠페 2.0 터보 S,현대 제네시스쿠페,95.0,2012,156291.0,흰색,자동,가솔린,1998.0,스포츠카,30고8622,NaN,1.0,1.0,0.0,0.0,0.0,7.0
3,현대 제네시스 쿠페 2.0 터보 R,현대 제네시스쿠페,63.0,2010,174361.0,검정색,자동,가솔린,1998.0,스포츠카,20도3968,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,KG모빌리티 티볼리 1.6 디젤 2WD TX,KG모빌리티 티볼리,57.9,2016,122000.0,흰색,자동,디젤,1597.0,SUV,65구0993,NaN,5.0,3.0,0.0,0.0,0.0,2.0

##### 3) NaN값 0으로 처리

In [78]:
df = df.fillna(0)
df.head()

,LMNAME,MNAME,PRICE,MYERAR,MILEAGE,COLOR,TRANS,F_TYPE,DISP,VTYPE,VNUM,CU_HIS,MVD_HIS,AVD_HIS,TL_HIS,FD_HIS,VT_HIS,US_HIS
0,기아 봉고3 윙바디 탑차,기아 봉고,173.0,2018,80800.0,흰색,자동,디젤,2497.0,트럭,92너0923,0.0,1.0,5.0,0.0,0.0,0.0,4.0
1,기아 더 K9 3.3 AWD,기아 K9,522.0,2022,52600.0,검정색,자동,가솔린,3342.0,대형,183너2180,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,현대 더 뉴 제네시스 쿠페 2.0 터보 S,현대 제네시스쿠페,95.0,2012,156291.0,흰색,자동,가솔린,1998.0,스포츠카,30고8622,0.0,1.0,1.0,0.0,0.0,0.0,7.0
3,현대 제네시스 쿠페 2.0 터보 R,현대 제네시스쿠페,63.0,2010,174361.0,검정색,자동,가솔린,1998.0,스포츠카,20도3968,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,KG모빌리티 티볼리 1.6 디젤 2WD TX,KG모빌리티 티볼리,57.9,2016,122000.0,흰색,자동,디젤,1597.0,SUV,65구0993,0.0,5.0,3.0,0.0,0.0,0.0,2.0

##### 4) 모델명 빈도수 30 미만 행 삭제

In [79]:
mname_counts = df['MNAME'].value_counts()

# 빈도수가 30 미만인 행의 인덱스 추출
rows_to_delete = mname_counts[mname_counts < 30].index

# 빈도수가 30 미만인 행 삭제
df = df[~df['MNAME'].isin(rows_to_delete)]

# 변경된 DataFrame을 사용하거나 필요에 따라 새로운 파일로 저장
# 예를 들어, 변경된 DataFrame을 'new_data.csv' 파일로 저장하는 경우
df.to_csv('new_data.csv', index=False)

In [80]:
new_df = pd.read_csv('C:/Users/CHK/Desktop/Final_Project/price_prediction/model8/new_data.csv')
new_df.head()

,LMNAME,MNAME,PRICE,MYERAR,MILEAGE,COLOR,TRANS,F_TYPE,DISP,VTYPE,VNUM,CU_HIS,MVD_HIS,AVD_HIS,TL_HIS,FD_HIS,VT_HIS,US_HIS
0,기아 봉고3 윙바디 탑차,기아 봉고,173.0,2018,80800.0,흰색,자동,디젤,2497.0,트럭,92너0923,0.0,1.0,5.0,0.0,0.0,0.0,4.0
1,기아 더 K9 3.3 AWD,기아 K9,522.0,2022,52600.0,검정색,자동,가솔린,3342.0,대형,183너2180,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,KG모빌리티 티볼리 1.6 디젤 2WD TX,KG모빌리티 티볼리,57.9,2016,122000.0,흰색,자동,디젤,1597.0,SUV,65구0993,0.0,5.0,3.0,0.0,0.0,0.0,2.0
3,기아 더 뉴 카니발 2.2 디젤 9인승 프레스티지,기아 카니발,175.0,2019,130360.0,검정색,자동,디젤,2199.0,RV,217소5162,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,기아 올 뉴 카니발 2.2 디젤 9인승 럭셔리,기아 카니발,145.0,2017,130100.0,검정색,자동,디젤,2199.0,RV,162너4650,0.0,2.0,1.0,0.0,0.0,0.0,2.0

##### 5) 추가 전처리(불용 컬럼 삭제, 값 통일, get_dummies 등)

In [81]:
new_df.loc[new_df['COLOR'] == '인기색상', 'COLOR'] = '흰색'
new_df.loc[new_df['MNAME'] == '현대 펠리세이드', 'MNAME'] = '현대 팰리세이드'

In [82]:
new_df.drop(['VTYPE', 'VNUM', 'LMNAME'], axis=1, inplace=True)
new_df = pd.get_dummies(new_df, columns=['COLOR', 'TRANS', 'F_TYPE'])
new_df['MYERAR'] = 2024 - new_df['MYERAR'] + 1
new_df.head()

,MNAME,PRICE,MYERAR,MILEAGE,DISP,CU_HIS,MVD_HIS,AVD_HIS,TL_HIS,FD_HIS,...,F_TYPE_가솔린,F_TYPE_가솔린 하이브리드,F_TYPE_가솔린+LPG,F_TYPE_가솔린/LPG겸용,F_TYPE_기타,F_TYPE_디젤,F_TYPE_전기,F_TYPE_하이브리드,F_TYPE_하이브리드(가솔린),F_TYPE_하이브리드(가솔린/전기)
0,기아 봉고,173.0,7,80800.0,2497.0,0.0,1.0,5.0,0.0,0.0,...,False,False,False,False,False,True,False,False,False,False
1,기아 K9,522.0,3,52600.0,3342.0,0.0,0.0,0.0,0.0,0.0,...,True,False,False,False,False,False,False,False,False,False
2,KG모빌리티 티볼리,57.9,9,122000.0,1597.0,0.0,5.0,3.0,0.0,0.0,...,False,False,False,False,False,True,False,False,False,False
3,기아 카니발,175.0,6,130360.0,2199.0,0.0,0.0,1.0,0.0,0.0,...,False,False,False,False,False,True,False,False,False,False
4,기아 카니발,145.0,8,130100.0,2199.0,0.0,2.0,1.0,0.0,0.0,...,False,False,False,False,False,True,False,False,False,False

In [83]:
new_df.to_csv('pre-processed_data.csv')

# 2. 모델링

In [84]:
import pandas as pd
from xgboost import XGBRegressor
from sklearn.model_selection import train_test_split
from sklearn.ensemble import VotingRegressor
from sklearn.metrics import mean_squared_error

##### 1) 자동차 모델별 XGB Regressor 학습

In [85]:
# MNAME의 고유값을 가져옵니다.
mname_values = new_df['MNAME'].unique()

# 앙상블을 위한 모델 리스트 생성
models = []

# 각 MNAME에 대한 모델 훈련
for mname in mname_values:
    # 특정 MNAME에 해당하는 데이터만 추출
    mname_data = new_df[new_df['MNAME'] == mname]
    
    # 특성과 타겟 데이터 분리
    X = mname_data.drop(columns=['PRICE', 'MNAME'])
    y = mname_data['PRICE']
    
    # 학습 데이터와 테스트 데이터 분리
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
    
    # XGBoost Regressor 모델 훈련
    model = XGBRegressor()
    model.fit(X_train, y_train)
    
    # 모델을 모델 리스트에 추가
    models.append(('model_' + mname, model))

In [86]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

# 각 모델의 테스트 데이터에 대한 MSE를 저장할 리스트 생성
mse_values = {}
mae_values = {}

# 각 MNAME에 대한 모델에 대해 반복하여 MSE 계산
for mname in mname_values:
    # 특정 MNAME에 해당하는 데이터만 추출
    mname_data = new_df[new_df['MNAME'] == mname]
    
    # 특성과 타겟 데이터 분리
    X_test = mname_data.drop(columns=['PRICE', 'MNAME'])
    y_test = mname_data['PRICE']
    
    # 모델을 가져옴
    model_name = 'model_' + mname
    model = dict(models)[model_name]
    
    # 모델을 사용하여 테스트 데이터에 대한 예측값 계산
    y_pred = model.predict(X_test)
    
    # MSE 계산 및 결과 출력
    mse = mean_squared_error(y_test, y_pred)
    mae = mean_absolute_error(y_test, y_pred)
    print(f'Model {mname}의 MSE: {mse}')
    print(f'Model {mname}의 MAE: {mae}')
    
    # MSE 값을 리스트에 추가
    mse_values[mname] = mse
    mae_values[mname] = mae

Model 기아 봉고의 MSE: 44727.70596694411
Model 기아 봉고의 MAE: 64.87143119989439
Model 기아 K9의 MSE: 13630.944198467176
Model 기아 K9의 MAE: 33.70249681472778
Model KG모빌리티 티볼리의 MSE: 10445.705941490485
Model KG모빌리티 티볼리의 MAE: 34.176050841290014
Model 기아 카니발의 MSE: 35385.45486277882
Model 기아 카니발의 MAE: 68.93787472968405
Model 현대 쏘나타의 MSE: 13982.139129948015
Model 현대 쏘나타의 MAE: 35.1451676877591
Model 현대 아반떼의 MSE: 4590.138673395106
Model 현대 아반떼의 MAE: 25.31309739531373
Model 기아 K7의 MSE: 12530.537849150187
Model 기아 K7의 MAE: 36.00724395620976
Model 르노코리아 QM3의 MSE: 1924.8432842997784
Model 르노코리아 QM3의 MAE: 16.883781895493016
Model 기아 쏘렌토의 MSE: 17482.323547663775
Model 기아 쏘렌토의 MAE: 41.92860497902698
Model 제네시스 G80의 MSE: 35949.245046699965
Model 제네시스 G80의 MAE: 57.24938079479129
Model 제네시스 G90의 MSE: 143822.18261200152
Model 제네시스 G90의 MAE: 84.4020393499514
Model 현대 그랜저의 MSE: 14297.56742496483
Model 현대 그랜저의 MAE: 35.35624416516592
Model 현대 포터의 MSE: 11936302.220158195
Model 현대 포터의 MAE: 236.46798775157583
Model 현대 코나의 MSE: 25115.415671797564
Model 현대 코나의 MAE: 51.118554419801946
Model 기아 스포티지의 MSE: 11415.68945552158
Model 기아 스포티지의 MAE: 34.73834134270163
Model 기아 모하비의 MSE: 186265.84393947932
Model 기아 모하비의 MAE: 110.44521654363264
Model 제네시스 GV80의 MSE: 46306.14597177896
Model 제네시스 GV80의 MAE: 69.10172031169036
Model 현대 싼타페의 MSE: 9199.698585191702
Model 현대 싼타페의 MAE: 33.69937874430375
Model 현대 팰리세이드의 MSE: 46502.31049015641
Model 현대 팰리세이드의 MAE: 70.59319750334087
Model 현대 아이오닉의 MSE: 72582.0326068121
Model 현대 아이오닉의 MAE: 102.72443206787109
Model 현대 제네시스의 MSE: 4073.0193461719296
Model 현대 제네시스의 MAE: 24.27998029535467
Model 기아 스팅어의 MSE: 72260.60795160069
Model 기아 스팅어의 MAE: 93.76603868272569
Model 제네시스 EQ900의 MSE: 176941.8178097153
Model 제네시스 EQ900의 MAE: 126.16476197676225
Model KG모빌리티 렉스턴의 MSE: 25853.09415650911
Model KG모빌리티 렉스턴의 MAE: 52.77344199180603
Model 제네시스 G70의 MSE: 29016.751060283557
Model 제네시스 G70의 MAE: 50.71430322783334
Model 기아 K5의 MSE: 14575.55717299702
Model 기아 K5의 MAE: 32.21025355296769
Model 르노코리아 SM6의 MSE: 3848.096865790394
Model 르노코리아 SM6의 MAE: 22.62526358710395
Model 기아 셀토스의 MSE: 3730.2944453991317
Model 기아 셀토스의 MAE: 22.377155360053568
Model 기아 K3의 MSE: 14424.82083217644
Model 기아 K3의 MAE: 41.87688962206428
Model 기아 쏘울의 MSE: 6941.123944701878
Model 기아 쏘울의 MAE: 30.281978670756025
Model 현대 투싼의 MSE: 5585.172263654204
Model 현대 투싼의 MAE: 28.099572003272275
Model 현대 에쿠스의 MSE: 13238.406447345173
Model 현대 에쿠스의 MAE: 41.24302988203745
Model 기아 모닝의 MSE: 2390.466936410907
Model 기아 모닝의 MAE: 15.889230309069996
Model KG모빌리티 코란도의 MSE: 5645.191811469742
Model KG모빌리티 코란도의 MAE: 25.781188007023022
Model 현대 스타리아의 MSE: 57369.91615118163
Model 현대 스타리아의 MAE: 87.11614362655148
Model 현대 스타렉스의 MSE: 65018.311662910055
Model 현대 스타렉스의 MAE: 63.72070778540845
Model 현대 마이티의 MSE: 64226.8349060793
Model 현대 마이티의 MAE: 68.68470764160156
Model 르노코리아 SM7의 MSE: 23254.565547671442
Model 르노코리아 SM7의 MAE: 58.12879238617726
Model 르노코리아 SM5의 MSE: 1265.2952708988926
Model 르노코리아 SM5의 MAE: 10.943086642310734
Model 르노코리아 QM6의 MSE: 15182.150684922244
Model 르노코리아 QM6의 MAE: 41.12193168477809
Model 기아 니로의 MSE: 22650.112634152018
Model 기아 니로의 MAE: 55.060834157466886
Model 기아 레이의 MSE: 6144.187847954832
Model 기아 레이의 MAE: 25.912575183954456
Model 르노코리아 SM3의 MSE: 3151.825996524951
Model 르노코리아 SM3의 MAE: 17.100675201416017
Model 한국GM 스파크의 MSE: 3102.334376409313
Model 한국GM 스파크의 MAE: 19.616655826568604
Model 한국GM 트랙스의 MSE: 6751.9600374462125
Model 한국GM 트랙스의 MAE: 26.398580861646074
Model 한국GM 크루즈의 MSE: 3750.4643735603395
Model 한국GM 크루즈의 MAE: 23.69843510219029
Model 한국GM 말리부의 MSE: 4768.553356716409
Model 한국GM 말리부의 MAE: 25.89188118868096
Model 한국GM 올란도의 MSE: 4709.81379614364
Model 한국GM 올란도의 MAE: 24.599398803710937

In [87]:
mae_values

{'기아 봉고': 64.87143119989439,
 '기아 K9': 33.70249681472778,
 'KG모빌리티 티볼리': 34.176050841290014,
 '기아 카니발': 68.93787472968405,
 '현대 쏘나타': 35.1451676877591,
 '현대 아반떼': 25.31309739531373,
 '기아 K7': 36.00724395620976,
 '르노코리아 QM3': 16.883781895493016,
 '기아 쏘렌토': 41.92860497902698,
 '제네시스 G80': 57.24938079479129,
 '제네시스 G90': 84.4020393499514,
 '현대 그랜저': 35.35624416516592,
 '현대 포터': 236.46798775157583,
 '현대 코나': 51.118554419801946,
 '기아 스포티지': 34.73834134270163,
 '기아 모하비': 110.44521654363264,
 '제네시스 GV80': 69.10172031169036,
 '현대 싼타페': 33.69937874430375,
 '현대 팰리세이드': 70.59319750334087,
 '현대 아이오닉': 102.72443206787109,
 '현대 제네시스': 24.27998029535467,
 '기아 스팅어': 93.76603868272569,
 '제네시스 EQ900': 126.16476197676225,
 'KG모빌리티 렉스턴': 52.77344199180603,
 '제네시스 G70': 50.71430322783334,
 '기아 K5': 32.21025355296769,
 '르노코리아 SM6': 22.62526358710395,
 '기아 셀토스': 22.377155360053568,
 '기아 K3': 41.87688962206428,
 '기아 쏘울': 30.281978670756025,
 '현대 투싼': 28.099572003272275,
 '현대 에쿠스': 41.24302988203745,
 '기아 모닝': 15.889230309069996,
 'KG모빌리티 코란도': 25.781188007023022,
 '현대 스타리아': 87.11614362655148,
 '현대 스타렉스': 63.72070778540845,
 '현대 마이티': 68.68470764160156,
 '르노코리아 SM7': 58.12879238617726,
 '르노코리아 SM5': 10.943086642310734,
 '르노코리아 QM6': 41.12193168477809,
 '기아 니로': 55.060834157466886,
 '기아 레이': 25.912575183954456,
 '르노코리아 SM3': 17.100675201416017,
 '한국GM 스파크': 19.616655826568604,
 '한국GM 트랙스': 26.398580861646074,
 '한국GM 크루즈': 23.69843510219029,
 '한국GM 말리부': 25.89188118868096,
 '한국GM 올란도': 24.599398803710937}

In [88]:
import numpy as np

In [89]:
values = list(mae_values.values())

# numpy의 percentile 함수를 사용하여 분위수 계산
q1 = np.percentile(values, 25)
q2 = np.percentile(values, 50)  # 중앙값과 동일하므로 50번째 백분위수
q3 = np.percentile(values, 75)
q4 = np.percentile(values, 100) # 최대값과 동일하므로 100번째 백분위수

print("1분위수 (25번째 백분위수):", q1)
print("2분위수 (중앙값, 50번째 백분위수):", q2)
print("3분위수 (75번째 백분위수):", q3)
print("4분위수 (100번째 백분위수, 최댓값):", q4)

1분위수 (25번째 백분위수): 25.864207893266475
2분위수 (중앙값, 50번째 백분위수): 35.68174406068784
3분위수 (75번째 백분위수): 64.00838863902993
4분위수 (100번째 백분위수, 최댓값): 236.46798775157583

In [90]:
import csv

# 딕셔너리 생성 예시

# CSV 파일에 딕셔너리의 키와 값을 쓰기
with open('mae.csv', 'w', newline='') as csvfile:
    writer = csv.writer(csvfile)
    
    # 헤더를 쓰기
    writer.writerow(['Key', 'Value'])
    
    # 각 키와 값을 쓰기
    for key, value in mae_values.items():
        writer.writerow([key, value])

print("CSV 파일이 성공적으로 저장되었습니다.")

CSV 파일이 성공적으로 저장되었습니다.

In [93]:
# 'model 현대 포터'를 찾아서 해당 모델을 사용하여 예측값 계산
for model_name, model in models:
    if model_name == 'model_현대 포터':
        # 현대 포터 데이터만 추출
        hyundai_porter_data = new_df[new_df['MNAME'] == '현대 포터']
        
        # 특성과 타겟 데이터 분리
        X_hyundai_porter = hyundai_porter_data.drop(columns=['PRICE', 'MNAME'])
        y_hyundai_porter_actual = hyundai_porter_data['PRICE']
        
        # 모델을 사용하여 예측값 계산
        y_hyundai_porter_pred = model.predict(X_hyundai_porter)
        
        # 실제값과 예측값 출력
        for actual, pred in zip(y_hyundai_porter_actual, y_hyundai_porter_pred):
            print("실제값:", actual, "| 예측값:", pred)

실제값: 59.0 | 예측값: 60.342934
실제값: 135.0 | 예측값: 138.22363
실제값: 588.0 | 예측값: 582.44446
실제값: 186.0 | 예측값: 539.2994
실제값: 65.0 | 예측값: 66.000084
실제값: 62.0 | 예측값: 592.0757
실제값: 64.0 | 예측값: 64.85582
실제값: 38.0 | 예측값: 16.844608
실제값: 89.0 | 예측값: 90.82908
실제값: 129.0 | 예측값: 289.3057
실제값: 220.0 | 예측값: 218.1992
실제값: 189.0 | 예측값: 195.27853
실제값: 160.0 | 예측값: 157.41502
실제값: 160.0 | 예측값: 163.07405
실제값: 172.0 | 예측값: 169.49449
실제값: 44.0 | 예측값: 50.11333
실제값: 65.0 | 예측값: 321.3167
실제값: 110.0 | 예측값: 109.13207
실제값: 59.0 | 예측값: 60.633648
실제값: 59.9 | 예측값: 64.97025
실제값: 119.0 | 예측값: 130.70425
실제값: 49.0 | 예측값: 46.425114
실제값: 79.0 | 예측값: 77.74388
실제값: 95.0 | 예측값: 100.82293
실제값: 89.9 | 예측값: 85.376625
실제값: 89.0 | 예측값: 349.01663
실제값: 70.0 | 예측값: 78.993576
실제값: 73.0 | 예측값: 77.51161
실제값: 85.0 | 예측값: 92.81299
실제값: 250.0 | 예측값: 249.21964
실제값: 75.0 | 예측값: 74.58938
실제값: 135.0 | 예측값: 133.57002
실제값: 34.0 | 예측값: 30.939266
실제값: 63000.0 | 예측값: 93.96057
실제값: 320.0 | 예측값: 316.96777
실제값: 89.0 | 예측값: 92.8392
실제값: 220.0 | 예측값: 221.03108
실제값: 210.0 | 예측값: 211.76263
실제값: 157.0 | 예측값: 167.71043
실제값: 253.0 | 예측값: 253.70364
실제값: 258.0 | 예측값: 262.41248
실제값: 59.9 | 예측값: 65.29374
실제값: 256.0 | 예측값: 346.42166
실제값: 149.0 | 예측값: 143.97829
실제값: 485.0 | 예측값: 485.19427
실제값: 85.0 | 예측값: 335.62637
실제값: 79.9 | 예측값: 368.79004
실제값: 530.0 | 예측값: 530.9166
실제값: 93.0 | 예측값: 97.31685
실제값: 128.0 | 예측값: 112.589005
실제값: 380.0 | 예측값: 379.23334
실제값: 650.0 | 예측값: 651.3052
실제값: 780.0 | 예측값: 775.4435
실제값: 990.0 | 예측값: 987.92706
실제값: 1870.0 | 예측값: 1877.3651
실제값: 670.0 | 예측값: 523.0479
실제값: 450.0 | 예측값: 451.2298
실제값: 1650.0 | 예측값: 916.9504
실제값: 650.0 | 예측값: 653.21265
실제값: 2030.0 | 예측값: 2028.912
실제값: 0.105 | 예측값: 644.8879
실제값: 1990.0 | 예측값: 1983.6261
실제값: 509.0 | 예측값: 511.27176
실제값: 1099.0 | 예측값: 801.84845
실제값: 1770.0 | 예측값: 1770.8317
실제값: 1090.0 | 예측값: 1092.8353
실제값: 690.0 | 예측값: 692.83075
실제값: 700.0 | 예측값: 703.1917
실제값: 500.0 | 예측값: 497.74036
실제값: 690.0 | 예측값: 689.133
실제값: 2830.0 | 예측값: 2829.8618
실제값: 1250.0 | 예측값: 1244.6013
실제값: 1350.0 | 예측값: 996.57806
실제값: 450.0 | 예측값: 576.6225
실제값: 1690.0 | 예측값: 1687.9628
실제값: 470.0 | 예측값: 551.60004
실제값: 770.0 | 예측값: 903.52155
실제값: 950.0 | 예측값: 733.5624
실제값: 780.0 | 예측값: 778.59766
실제값: 430.0 | 예측값: 430.36844
실제값: 1380.0 | 예측값: 1373.944
실제값: 780.0 | 예측값: 782.237
실제값: 570.0 | 예측값: 568.1344
실제값: 570.0 | 예측값: 570.7492
실제값: 390.0 | 예측값: 484.30115
실제값: 1260.0 | 예측값: 1248.7828
실제값: 319.0 | 예측값: 321.75693
실제값: 620.0 | 예측값: 616.99805
실제값: 720.0 | 예측값: 726.08453
실제값: 2500.0 | 예측값: 2501.6426
실제값: 2080.0 | 예측값: 2077.4065
실제값: 1789.0 | 예측값: 1786.5753
실제값: 759.0 | 예측값: 765.76385
실제값: 495.0 | 예측값: 495.9394
실제값: 1220.0 | 예측값: 1088.8888
실제값: 590.0 | 예측값: 598.6234
실제값: 970.0 | 예측값: 970.4011
실제값: 900.0 | 예측값: 882.25183
실제값: 670.0 | 예측값: 688.2653
실제값: 1980.0 | 예측값: 1988.0288
실제값: 890.0 | 예측값: 887.61566
실제값: 1190.0 | 예측값: 972.4441
실제값: 1050.0 | 예측값: 1052.4492
실제값: 2290.0 | 예측값: 2287.4292
실제값: 1700.0 | 예측값: 1700.4558
실제값: 1750.0 | 예측값: 1753.3069
실제값: 1420.0 | 예측값: 1419.2675
실제값: 890.0 | 예측값: 880.4329
실제값: 1450.0 | 예측값: 1123.2623
실제값: 680.0 | 예측값: 647.51666
실제값: 3200.0 | 예측값: 2526.926
실제값: 2100.0 | 예측값: 2098.843
실제값: 1690.0 | 예측값: 1689.9858
실제값: 1550.0 | 예측값: 1285.4586
실제값: 1980.0 | 예측값: 1574.0332
실제값: 1130.0 | 예측값: 1129.538
실제값: 2460.0 | 예측값: 2449.9011
실제값: 1700.0 | 예측값: 1703.7466
실제값: 1720.0 | 예측값: 1521.5221
실제값: 2099.0 | 예측값: 2104.8577
실제값: 720.0 | 예측값: 718.7498
실제값: 2370.0 | 예측값: 2370.0583
실제값: 850.0 | 예측값: 841.7082
실제값: 1030.0 | 예측값: 1028.7094
실제값: 1830.0 | 예측값: 1828.7654
실제값: 1160.0 | 예측값: 1164.9161
실제값: 1790.0 | 예측값: 1825.7665
실제값: 2520.0 | 예측값: 2510.7974
실제값: 940.0 | 예측값: 932.16846
실제값: 1050.0 | 예측값: 1056.9812
실제값: 430.0 | 예측값: 437.258
실제값: 1490.0 | 예측값: 1512.1254
실제값: 1430.0 | 예측값: 1498.7426
실제값: 890.0 | 예측값: 881.8239
실제값: 690.0 | 예측값: 693.69116
실제값: 420.0 | 예측값: 419.38287
실제값: 1190.0 | 예측값: 1193.3578
실제값: 1550.0 | 예측값: 1555.625
실제값: 1740.0 | 예측값: 1736.602
실제값: 699.0 | 예측값: 706.03296
실제값: 1200.0 | 예측값: 1205.5664
실제값: 1430.0 | 예측값: 1428.2689
실제값: 590.0 | 예측값: 580.75476
실제값: 1650.0 | 예측값: 1652.9922
실제값: 3290.0 | 예측값: 3285.5066
실제값: 690.0 | 예측값: 701.3441
실제값: 1390.0 | 예측값: 1222.7823
실제값: 1850.0 | 예측값: 2010.4636
실제값: 620.0 | 예측값: 619.35333
실제값: 1170.0 | 예측값: 1172.1602
실제값: 1820.0 | 예측값: 1819.0465
실제값: 720.0 | 예측값: 722.5077
실제값: 550.0 | 예측값: 550.15454
실제값: 2190.0 | 예측값: 2186.5295
실제값: 1280.0 | 예측값: 1269.9983
실제값: 1230.0 | 예측값: 1220.5764
실제값: 899.0 | 예측값: 886.9911
실제값: 1780.0 | 예측값: 1775.2203
실제값: 940.0 | 예측값: 938.70844
실제값: 490.0 | 예측값: 487.68896
실제값: 810.0 | 예측값: 801.1047
실제값: 650.0 | 예측값: 663.2864
실제값: 650.0 | 예측값: 648.988
실제값: 2700.0 | 예측값: 2631.1846
실제값: 699.0 | 예측값: 697.65826
실제값: 1290.0 | 예측값: 890.3693
실제값: 1550.0 | 예측값: 1553.7072
실제값: 1360.0 | 예측값: 1343.928
실제값: 730.0 | 예측값: 731.7595
실제값: 2120.0 | 예측값: 2117.7703
실제값: 0.229 | 예측값: 2.6398256
실제값: 1589.0 | 예측값: 1572.4365
실제값: 2030.0 | 예측값: 2027.3687
실제값: 1790.0 | 예측값: 1802.2274
실제값: 1700.0 | 예측값: 1700.7449
실제값: 1280.0 | 예측값: 1273.1285
실제값: 650.0 | 예측값: 667.4004
실제값: 1670.0 | 예측값: 1766.4785
실제값: 1750.0 | 예측값: 1748.2328
실제값: 1800.0 | 예측값: 1910.9536
실제값: 2180.0 | 예측값: 2424.1992
실제값: 1330.0 | 예측값: 926.27185
실제값: 2770.0 | 예측값: 2761.5327
실제값: 799.0 | 예측값: 801.62524
실제값: 870.0 | 예측값: 869.7919
실제값: 1990.0 | 예측값: 1602.2281
실제값: 830.0 | 예측값: 815.89526
실제값: 1150.0 | 예측값: 1150.5726
실제값: 3190.0 | 예측값: 3178.383
실제값: 1330.0 | 예측값: 1351.9037
실제값: 1250.0 | 예측값: 1250.4902
실제값: 999.0 | 예측값: 1003.9973
실제값: 500.0 | 예측값: 500.11673
실제값: 580.0 | 예측값: 389.81094
실제값: 1829.0 | 예측값: 1836.7091
실제값: 740.0 | 예측값: 798.46326
실제값: 700.0 | 예측값: 709.8263
실제값: 730.0 | 예측값: 685.1177
실제값: 1000.0 | 예측값: 999.4639
실제값: 1330.0 | 예측값: 1620.1371
실제값: 1450.0 | 예측값: 1449.3821
실제값: 3160.0 | 예측값: 3156.9812
실제값: 1090.0 | 예측값: 1089.569
실제값: 1040.0 | 예측값: 1160.7794
실제값: 580.0 | 예측값: 580.8073
실제값: 1130.0 | 예측값: 1132.4375
실제값: 730.0 | 예측값: 728.9111
실제값: 1790.0 | 예측값: 1788.6655
실제값: 870.0 | 예측값: 872.94214
실제값: 1080.0 | 예측값: 1101.8501
실제값: 690.0 | 예측값: 692.043
실제값: 760.0 | 예측값: 760.47473
실제값: 730.0 | 예측값: 729.2919
실제값: 870.0 | 예측값: 862.07336
실제값: 2150.0 | 예측값: 2149.9048
실제값: 1690.0 | 예측값: 1668.4786
실제값: 1380.0 | 예측값: 1382.2312
실제값: 2980.0 | 예측값: 2984.321
실제값: 1520.0 | 예측값: 1509.8287
실제값: 1830.0 | 예측값: 1804.0468
실제값: 780.0 | 예측값: 794.82367
실제값: 2600.0 | 예측값: 2601.4878
실제값: 1960.0 | 예측값: 1958.4673
실제값: 2190.0 | 예측값: 1990.8322
실제값: 780.0 | 예측값: 781.2494
실제값: 1050.0 | 예측값: 1048.2855
실제값: 620.0 | 예측값: 634.98706
실제값: 2139.0 | 예측값: 2113.636
실제값: 850.0 | 예측값: 852.6389
실제값: 820.0 | 예측값: 486.96155
실제값: 680.0 | 예측값: 679.0152
실제값: 1750.0 | 예측값: 1750.4211
실제값: 1140.0 | 예측값: 1140.2845
실제값: 850.0 | 예측값: 849.522
실제값: 1250.0 | 예측값: 1247.0914
실제값: 1850.0 | 예측값: 1850.4071
실제값: 1320.0 | 예측값: 1319.3191
실제값: 590.0 | 예측값: 592.59424
실제값: 890.0 | 예측값: 886.18176
실제값: 650.0 | 예측값: 651.3636
실제값: 730.0 | 예측값: 812.9835
실제값: 1190.0 | 예측값: 1201.8613
실제값: 660.0 | 예측값: 660.5319
실제값: 1390.0 | 예측값: 1387.6327
실제값: 1630.0 | 예측값: 1640.278
실제값: 2150.0 | 예측값: 2145.4636
실제값: 1340.0 | 예측값: 1669.9657
실제값: 1399.0 | 예측값: 1396.1849
실제값: 550.0 | 예측값: 550.2817
실제값: 1650.0 | 예측값: 1650.3127
실제값: 950.0 | 예측값: 935.4065
실제값: 1620.0 | 예측값: 1616.5211
실제값: 2200.0 | 예측값: 2206.5747
실제값: 570.0 | 예측값: 569.7901
실제값: 599.0 | 예측값: 594.77496
실제값: 870.0 | 예측값: 859.9098
실제값: 850.0 | 예측값: 850.2756
실제값: 599.0 | 예측값: 596.5272
실제값: 750.0 | 예측값: 724.84985
실제값: 850.0 | 예측값: 847.76404
실제값: 799.0 | 예측값: 1100.4081
실제값: 730.0 | 예측값: 727.5343
실제값: 1570.0 | 예측값: 1573.678
실제값: 1390.0 | 예측값: 1396.2559
실제값: 1120.0 | 예측값: 1119.6768
실제값: 620.0 | 예측값: 619.7742
실제값: 1090.0 | 예측값: 1101.7572
실제값: 2290.0 | 예측값: 2287.193
실제값: 680.0 | 예측값: 679.54315
실제값: 1890.0 | 예측값: 1889.378
실제값: 1490.0 | 예측값: 1502.3445
실제값: 1490.0 | 예측값: 1636.6082
실제값: 2220.0 | 예측값: 2218.1335
실제값: 1340.0 | 예측값: 1341.404
실제값: 1250.0 | 예측값: 1252.1425
실제값: 790.0 | 예측값: 789.9865
실제값: 840.0 | 예측값: 845.2905
실제값: 1040.0 | 예측값: 1027.0236
실제값: 2040.0 | 예측값: 2031.9677
실제값: 1270.0 | 예측값: 1268.9042
실제값: 690.0 | 예측값: 586.8254
실제값: 700.0 | 예측값: 702.989
실제값: 1330.0 | 예측값: 1333.4357
실제값: 1590.0 | 예측값: 1579.4954
실제값: 1150.0 | 예측값: 1154.2217
실제값: 2400.0 | 예측값: 2402.3772
실제값: 1030.0 | 예측값: 1036.8407
실제값: 1850.0 | 예측값: 2687.7317
실제값: 2390.0 | 예측값: 2381.903
실제값: 1880.0 | 예측값: 1880.5392
실제값: 1880.0 | 예측값: 1880.5392
실제값: 1780.0 | 예측값: 1781.539
실제값: 1700.0 | 예측값: 1858.4004
실제값: 590.0 | 예측값: 600.67645
실제값: 1150.0 | 예측값: 1151.7609
실제값: 760.0 | 예측값: 768.9825
실제값: 2220.0 | 예측값: 2098.7656
실제값: 490.0 | 예측값: 484.30115
실제값: 1980.0 | 예측값: 1981.3085
실제값: 1480.0 | 예측값: 1492.1403
실제값: 350.0 | 예측값: 376.6493
실제값: 880.0 | 예측값: 865.68884
실제값: 1030.0 | 예측값: 1026.4166
실제값: 1550.0 | 예측값: 1539.1001
실제값: 830.0 | 예측값: 808.8533
실제값: 1320.0 | 예측값: 1323.2302
실제값: 349.0 | 예측값: 349.03668
실제값: 2650.0 | 예측값: 2649.9963
실제값: 1400.0 | 예측값: 1407.5123
실제값: 890.0 | 예측값: 884.08984
실제값: 450.0 | 예측값: 449.99734
실제값: 1190.0 | 예측값: 1364.6775
실제값: 3100.0 | 예측값: 3099.6672
실제값: 470.0 | 예측값: 478.5515
실제값: 1400.0 | 예측값: 1416.4783
실제값: 1590.0 | 예측값: 1589.4209
실제값: 590.0 | 예측값: 590.38464
실제값: 2450.0 | 예측값: 1579.9417
실제값: 650.0 | 예측값: 793.96747
실제값: 1350.0 | 예측값: 1347.2401
실제값: 2030.0 | 예측값: 2026.1531
실제값: 480.0 | 예측값: 592.221
실제값: 770.0 | 예측값: 537.6429
실제값: 2560.0 | 예측값: 2558.7964
실제값: 920.0 | 예측값: 921.3657
실제값: 390.0 | 예측값: 389.66907
실제값: 1300.0 | 예측값: 1297.2305
실제값: 530.0 | 예측값: 525.3487
실제값: 540.0 | 예측값: 540.58685
실제값: 360.0 | 예측값: 361.75665
실제값: 2150.0 | 예측값: 2146.8267
실제값: 2750.0 | 예측값: 2750.268